.title-side{
    // color: rgb(79, 98, 43);
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    // margin-top: 30px;
    font-weight: 700;
}
.pitsa{
    display: flex;
    justify-content: space-between;
    margin: 20px 300px;
    //! test border
    &__left{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 30px;

        &__heading1{
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
        }
        &__heading2{
            margin: 0;
            padding: 0;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        &__wrap-size{
            display: flex;
        }
        &__heading3{
            margin: 0;
            padding: 0;
            margin-top: 30px;
            margin-bottom: 8px;
        }
        &__wrap-things{
            display: flex;
            flex-direction: column;

            // &__1{
            //     display: flex;
            //     flex-direction: column;
            //     align-item: center;
            // }
            // &__2{
            //     display: flex;
            //     flex-direction: column;
            // }
            &__wrap{
                font-size: 20px;

            }
        }
        &__heading4{
            margin: 0;
            padding: 0;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        &__wrap-complete{
            font-size: 20px;

        }
    }

    //! test border
    &__right{
        width: 430px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 30px;
        
        &__btn{
            padding: 10px 20px;
            background-color: #FB6445;
            border-radius: 5px;
            width: 250px;
            margin: 0 auto;
            &:hover{
                background-color: black;
                color: white;
            }
            &:active{
                background-color: rgb(66, 57, 57);
                transform: scale(0.95);
            }
        }
    }
}

#pitsa-select{
    width: 150px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    padding: 3px;
}

// .active-label{
//     padding: 30px;
//     border: 2px solid black;
//     border-radius: 50%;
//     margin-right: 25px;
//     width: 50px;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// #size{
//     display: none;
// }
// #size2{
//     display: none;
// }
// #size3{
//     display: none;
// }
input:change{
    background-color: cyan;
}
#sosiskali{
    margin-left: 30px;
}
.elActiveLabel{
    background-color: red;
}
.active_round{
    padding: 30px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;


    &:hover{
        background-color: rgb(213, 208, 208);
    }
    &:active{
        background-color: black;
        color: white;
    }
}



.elRoundRed{
    background-color: red;
    padding: 30px;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}